*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	box-sizing: border-box;
}
#sidebar{
	position: absolute;
	width: 200px;
	top: 0px;
	height: 100%;
	background: #151719;
	left: -200px;
	transition: all 500ms linear;
}
#sidebar.active{
	left: 0px;
}
#sidebar ul li{
	color: rgb(230,230,230);
	list-style: none;
	padding: 15px 10px;
	font-size: 15px;
	border-bottom: 1px solid rgba(100,100,100,0.6)

}
}
#sidebar .toggle-btn{
	position: absolute;
	left: 230px;
	top: 20px;
}
#sidebar .toggle-btn span{
	display: block;
	width: 30px;
	height: 5px;
	background: #151719;
	margin: 3px 0px;
	cursor: pointer;
}